.container {
    max-width: 35rem;
    padding: 3rem 3rem;
    margin: 3rem auto 8rem;
    background-color: rgb(63, 69, 69);
    
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}